.idea

# Local .terraform directories
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfplan

# Variables files
*.auto.tfvars

# Override files
*.tfoverride

# Environment-specific files
.envrc

# CLI configuration files
.terraformrc
terraform.rc
